{% extends "blog/base.html" %}
{% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Properties for sale</h1>
    <p class="lead text-muted">Check out the latest and most attractive assests on the market!</p>
  </div>
</section>

 <div class="album py-5 bg-light">
   <div class="container">
     <div class="row">
    {% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{ post.image.url}}"/>
          <div class="card-body">
            <h4 class="card-text"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
            <h5 class="card-text" class="article-title">Price: {{ post.price }}$</h5>
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">By: {{ post.author }}</a><br>
            <small class="text-muted">Posted on: {{ post.date_posted|date:"F d, Y" }}</small>
          </div>
        </div>
      </div>

    {% endfor %}
     </div>
  </div>
</div>
       {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}

<!--         <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a><br>
              <small class="text-muted">Date posted: {{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <img src="{{ post.image.url}}" alt="{{ post.title }}" style='height: 70%; width: 70%; object-fit: contain'><p></p>
            <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
            <h5 class="article-title">Price: {{ post.price }}$</h5>
          </div>
        </article> -->